{% load dajaxice_templatetags %}
<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>Trello2iCal Frequently Asked Questions</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<meta name="viewport" content="width=device-width">
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
	
	<script type="text/javascript" src="/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
	<link rel="stylesheet" href="/fancybox/jquery.fancybox-1.3.4.css" type="text/css" media="screen" />
	
	<!--<link rel="stylesheet/less" href="less/style.less">
	<script src="js/libs/less-1.3.0.min.js"></script>-->
	
	<link rel="stylesheet" href="/css/style.css">
		
	<!-- Use SimpLESS (Win/Linux/Mac) or LESS.app (Mac) to compile your .less files
	to style.css, and replace the 2 lines above by this one:

	<link rel="stylesheet" href="less/style.css">
	 -->

	<link rel="stylesheet" href="/css/custom.css">
	<script src="/js/libs/modernizr-2.5.3-respond-1.1.0.min.js"></script>	
	<script src="https://api.trello.com/1/client.js?key=9cf5a88e6a3a9897d59e55bfc327b5d5"></script>
	{% dajaxice_js_import %}
	<script src="/js/script.js"></script>
</head>
<body>
<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->


    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Trello2iCal - Create a calendar feed from Trello cards</a>
        </div>
      </div>
    </div>

    <div class="container">
      <p>
	<span class="faq_question">Q: What is this?</span>
	<br>
	A: This site connects your <a href="http://trello.com">Trello</a> cards to your calendar using the due date value on the cards. It uses a protocol named <a href="http://en.wikipedia.org/wiki/ICalendar">iCalendar</a> (or iCal) to publish a feed that your calendar client can connect to and display the cards.
	<br>
	<br>
	  
	<span class="faq_question">Q: How do I see the cards on my calendar?</span>
	<br>
	A: First you need the URL of the feed you created. When you click on create feed you should get a URL
	which you need to copy. If you closed it do not worry - on your user page you should have a list of all
	the feeds you created and their options. To get the URL right click on your desired feed and choose "copy link location".
	Now you need to tell your calendar program to go to the URL. iCal is supported by too many client to list here
	(<a href="http://en.wikipedia.org/wiki/List_of_applications_with_iCalendar_support">Wikipedia has a list</a>)
	but here are links to instructions to the most popular clients:
	<br>
	To add it to Google Calendar follow <a href="http://support.google.com/calendar/bin/answer.py?hl=en&answer=37100">these instructions.</a><br>
	To add it to Outlook follow <a href="http://office.microsoft.com/en-us/outlook-help/view-and-subscribe-to-internet-calendars-HA010167325.aspx">these instructions.</a><br>
	To add it to Apple iCal follow <a href="http://www.apple.com/findouthow/mac/#subscribeical">these instructions.</a><br>
	For other calendar programs <a href="http://mcb.berkeley.edu/academic-programs/seminars/ical-feed-instructions/">try this page</a> or search Google.
	<br>
	<br>
	
	<a name="create" id="create"></a>
	<span class="faq_question">Q: What is a feed? Why do I need to create a feed?</span>
	<br>
	A: Trello2iCal does one thing - creates an iCalendar feed from your Trello cards. This feed is a textual
	blob conforming to the iCal protocol that your calendar client programs can understand (but you don't
	need to worry about). To create a feed you need to select some basic self explanatory options and click
	on the "Create feed" button and then follow the on-screen instructions.
	<br>
	<br>
	  
	<a name="manage" id="manage"></a>
	<span class="faq_question">Q: What am I managing? Why do I need to manage things?</span>
	<br>
	A: Trello2iCal saves all the feeds you created. You might need to retrieve the URL for a certain
	calendar, for example to subscribe to it in a new client program, or you might want to delete the feed.
	In this section you can do all these things.
	<br>
	<br>
	  
	<span class="faq_question">Q: Why should I delete feeds?</span>
	<br>
	A: Since these feeds have personal information from trello in them like card names and card descriptions you
	should only keep the feeds you are subscribed to in a client open. If there is a feed you are sure you are not
	subscribed to you should delete it (you can always recreate them later).
	<br>
	<br>
	
	<span class="faq_question">Q: Why is the generating feed, subscribing to a feed and/or generating user page slow?</span>
	<br>
	A: Trello2iCal communicates with Trello servers to get all cards from a specific board. This means the app
	sends a network request for each board, which takes time. Trello has no easy way to get you full list of
	cards and so generating a feed from multiple boards might take a few seconds. Don't worry if you see your
	calendar client taking some time to fetch the calendar unless it gets extreme. The most that I have ever seen
	is about 30 seconds.
	<br>
	<br>
  
	<a name="why_email" id="why_email"></a>
	<span class="faq_question">Q: Why do you need my email?</span>
	<br>
	A: This app started as a small script for my personal use but since it evolved to be useful for other people.
	I can foresee some things I might need to do to that can break the feeds (for example move to a dedicated domain instead
	of fun.sveder.com) and without your email I have no way of telling you that. I wouldn't want you to lose the
	Trello to calendar link out of the blue and so I strongly encourage you fill your email address.
	<br>
	<br>


  
	<span class="faq_question">Q: How secure is this?</span>
	<br>
	A: Security is not as simple as a number or yes/no. Like every useful service this application
	is not bulletproof. Let's break this down:
	<br>
	<br>
  
	<span class="faq_question">Q: When I authorize Trello2iCal, what data do you have access to?</span>
	<br>
	A: When you authorize Trello2iCal you give this app read permissions on all your boards. This gives me a
	huge responsibility and frankly I would prefer that Trello would have finer permissions to only allow my
	app to read cards with Due Dates or even narrower.
	<br>
	<br>
  
	<span class="faq_question">Q: In what ways can my data be compromised?</span>
	<br>
	A: Before we start enumerating security concerns I feel this app is pretty secure and all these things
	have a miniscule chance of happening. In any case you should fill in you email address as a precaution.
	<br>
	Let's start with the worst case scenario if the site is hacked and the DB compromised an attacker could
	have read access to all your boards. If this happens you'll be able to ask Trello customer service to
	revoke your token and prevent further read access.
	Another rare scenario is an attacker fuzzing the user or feed urls. I didn't want to make another login for you to
	remember, plus the support for authentication with iCal is sketchy and so this site uses tokens to keep track
	of users and feeds. Tokens are almost as secure as passwords in most real world scenarios but just like
	passwords can be broken tokens can be fuzzed by calling every possible token.
	This is not practical as the app uses a huge url length, a very random salt which will probably be better than
	the average password and a unique salt for each feed and user, but it is theoretically possible for someone
	to try.
	<br>
	<br>
	  
	<span class="faq_question">Q: What about privacy?</span>
	<br>
	A: As I said before - you are trusting me with read access to your Trello account. I don't take this responsibility lightly and I will never allow anyone (including myself) to connect to your Trello account for any reason. If you decide (and I strongly encourage you) to fill your email address you should rest assured you will never get spam or anything that doesn't concern Trello2iCal from me nor will I give out your email address. This goes for every other piece of information like your name.
	<br>
	<br>
	  
	<span class="faq_question">Q: What is this site trellocalendar-francois2metz.dotcloud.com? Did you copy him?</span>
	<br>
	A: This is Trello Calendar - one of the first projects using the Trello API - by <a href="https://twitter.com/francois2metz">Francois de Metz</a>. It recently added a feature that is similiar
	to what this app does - an iCal feed. When I started this project the feature wasn't there and so it's a
	great case of great minds thinking alike. It doesn't help that we both use the default twitter-bootstrap theme.
	Since then I added more features to Trello2iCal which Trello Calendar doesn't support
	like the customization and whole day events, so I feel these two apps both have their place. You can
	read more about it in <a href="http://sveder.com/blog/announcing-a-trello-to-ical-feed-web-application/">my blog post</a>.
	<br>
	<br>
      </p>
      <hr>
    </div>

{% include "footer.html" %}