    <div id="footer">
	<footer id="footer_wrap">
	  <div id="footer_content">
	    <div>
	      Made by Michael Sverdlin - <a href="https://twitter.com/msveder">@msveder</a>
	    </div>
	    <div>Visit <a href="http://sveder.com">sveder.com</a> for more awesomeness!</div>
	    <div>Check out the code to this site <a href="https://github.com/Sveder/trello_calendar_feed">on github.</a></div>
	  </div>
	</footer>

  
      <script src="js/libs/bootstrap/bootstrap.min.js"></script>
      
      <script src="js/script.js"></script>
      <script>
	      var _gaq=[['_setAccount','UA-34506949-1'],['_trackPageview']];
	      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
	      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
	      s.parentNode.insertBefore(g,s)}(document,'script'));
      </script>
    </div>
  </body>
</html>
