{% load dajaxice_templatetags %}
<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>{{ user.user_name }} User Page - Trello2iCal - Create a calendar feed from Trello cards</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<meta name="viewport" content="width=device-width">
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
	
	<script type="text/javascript" src="/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
	<link rel="stylesheet" href="/fancybox/jquery.fancybox-1.3.4.css" type="text/css" media="screen" />
	
	<!--<link rel="stylesheet/less" href="less/style.less">
	<script src="js/libs/less-1.3.0.min.js"></script>-->
	
	<link rel="stylesheet" href="/css/style.css">
		
	<!-- Use SimpLESS (Win/Linux/Mac) or LESS.app (Mac) to compile your .less files
	to style.css, and replace the 2 lines above by this one:

	<link rel="stylesheet" href="less/style.css">
	 -->

	<link rel="stylesheet" href="/css/custom.css">
	<script src="/js/libs/modernizr-2.5.3-respond-1.1.0.min.js"></script>	
	<script src="https://api.trello.com/1/client.js?key=9cf5a88e6a3a9897d59e55bfc327b5d5"></script>
	{% dajaxice_js_import %}
	<script src="/js/script.js"></script>
</head>
<body>
<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->


    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Trello2iCal - Create a calendar feed from Trello cards</a>
        </div>
      </div>
    </div>

    <div class="container">
      <h2>Welcome {{ user.user_name}},</h2>
      
      {% if not user.email %}
	<div class="email_solicit">
	  <span>Trello2iCal is filling a void for people and it is my priority to make it secure and
	  stable, but like anything there might be glitches. If you want to stay on top of your cards
	  and get norified if something breaks or Trello2iCal moves or major updates you should add
	  your email address below:</span>
	  <br>
	  <input type="email" id="email_text" placeholder="Optional"/> <button onclick="add_email();">Add email</button>
	  <a href="/trello/faq#why_email" target="_blank">Why do you need this?</a>
	</div>
      {% endif %}
      
      <div class="new_feed">
	<div><h3>Create new feed</h3><a class="faq_link" href="/trello/faq#create">(Help!)</a></div>
	<span>The feed will contain all cards that have due dates as events on you calendar according to the settings and boards you configure below.</span>
	
	<div class="feed_form">
	  
	  <span><h5>Feed Options:</h5></span>
	  
	  <div class="general_options">
	    <input type="checkbox" id="is_feed_assigned_to_me"> Only add cards assigned to me.
	    <br>
	    <input type="checkbox" onclick="toggle_all_day();" id="all_day_meeting"> Make events all day meetings (limited support - depends on your client).
	    <br>
	    Event length (in minutes): <input value="15" type="number" min=1 style="width: 40px" id="meeting_length">
	  </div>	    
	  
	  <div id="board_options">
	    <span>Choose what boards to include:</span>
	    <br>
	    <button onclick="toggle_all_boards();">Toggle All</button>
	  </div>
	  <div id="boards_table">
	    {% for board in boards %}
	      {% if forloop.counter0|divisibleby:"4" %}
		<div class="board_row">
	      {% endif %}
	    
		<div id="board_cell">
		  <input class="board" type="checkbox" id="checkbox_board_{{board.id}}"> {{ board.name }}
		</div>
	      
	      {% if forloop.counter|divisibleby:"4" %}
		</div>
	      {% endif %}
	    {% endfor %}
	    
	  </div>
	</div>
	<div><button id="create_feed" onclick="create_feed();">Create feed</button></div>
	
	<a style="display:none" id="new_feed_fancy" href="#new-feed"></a>
	<div style="display:none">
	  <div id="new-feed">
	    
	    <div>A calendar feed was created at the following URL:</div>
	    <span id="feed_url"></span> (click to auto-select and then copy)
	    <br>
	    <span id="feed_summary"></span>
	    <br>
	    <br>
	    To add it to Google Calendar follow <a href="http://support.google.com/calendar/bin/answer.py?hl=en&answer=37100">these instructions.</a><br>
	    To add it to Outlook follow <a href="http://office.microsoft.com/en-us/outlook-help/view-and-subscribe-to-internet-calendars-HA010167325.aspx">these instructions.</a><br>
		To add it to Apple iCal follow <a href="http://www.apple.com/findouthow/mac/#subscribeical">these instructions.</a><br>
	    For other calendar programs <a href="http://mcb.berkeley.edu/academic-programs/seminars/ical-feed-instructions/">try this page</a> or search Google.
	    
	  </div>
	</div>
	
      </div>
      <br>

      
      
      
      

      <br>
      <div class="feeds_section">
	<div><h3>Manage your feeds</h3><a class="faq_link" href="/trello/faq#manage">(Help!)</a></div>
	
	<div class="feeds_list">
	  <div class="single_feed">
	    <div>Url</div>
	    <div>Summary</div>
	    <div></div>
	  </div>
	    
	  {% for feed in feeds %}
	    {% if feed.is_valid %}
	      <div class="single_feed" id="feed_{{ feed.id }}">
		<div id="url_{{ feed.id }}"><a href="{{ feed.relative_url }}">{{ feed.url|slice:":10" }}...</a></div>
		<div>{{ feed.summary }}</div>
		<div><button class="delete_button" id="del_{{ feed.id }}" onclick="confirm_feed_delete({{ feed.id }});">Delete Feed</button></div>
	      </div>
	    {% endif %}
	  {% endfor %}
	</div>
      </div>
      
      
      <hr>
	

      <footer>
        <p>Visit <a href="http://sveder.com">sveder.com</a> for more awesomeness!</p>
		Check out the code to this site <a href="https://github.com/Sveder/trello_calendar_feed">on github.</a>
      </footer>

    </div> <!-- /container -->

<script src="js/libs/bootstrap/bootstrap.min.js"></script>

<script src="js/script.js"></script>
<script>
	var _gaq=[['_setAccount','UA-34506949-1'],['_trackPageview']];
	(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
	g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
	s.parentNode.insertBefore(g,s)}(document,'script'));
</script>

</body>
</html>
