#authorize
{
    height: 50px;
    width: 200px;  
    font-size: x-large;

    color: white;
    background-color: blue;
    border: solid 2px green;
    border-radius: 2px;
    box-shadow: 2px 2px yellow;
}

#board_table
{
    display: table;
    border: 1px solid darkgray;
    border-radius: 2px;
    background-color: lightgray;
}

#board_row
{
    display: table-row;
}

#board_cell
{
    display: table-cell;
    min-width: 150px;
}