#authorize
{
    height: 50px;
    width: 200px;  
    font-size: x-large;

    color: white;
    background-color: blue;
    border: solid 2px green;
    border-radius: 2px;
    box-shadow: 2px 2px yellow;
}

#board_table
{
    display: table;
    border: 1px solid darkgray;
    border-radius: 2px;
    background-color: lightgray;
}

#board_row
{
    display: table-row;
}

#board_cell
{
    display: table-cell;
    min-width: 150px;
}

.feeds_list
{
    display: table;
}

.feeds_list > div
{
    display: table-row;
}

.feeds_list > div > div
{
    display: table-cell;
}


.feeds_list > div:first-child
{
    font-weight: bold;
}

.feeds_list > div:nth-child(even)
{
    background-color: #dddddd;
}

.delete_button
{
    min-width: 86px;
}

.feed_form
{
    margin: 10px;
    
    border: solid 1px gray;
    border-radius: 5px;
    
    background-color: lightyellow;
    padding: 10px;
}

.new_feed_item
{
    background-color: #F0C5C5 !important;
}

.email_solicit
{
    margin: 10px;
    
    border: solid 1px gray;
    border-radius: 5px;
    
    background-color: lightcoral;
    padding: 10px;
}

.feeds_list
{
    margin: 10px;
    
    border: solid 1px gray;
    border-radius: 5px;
    
    background-color: lightyellow;
    padding: 10px;
}

#email_text
{
    margin-bottom: 0px;
}

.faq_question
{
    font-weight: bold;
}

h3
{
    display: inline;
}

.faq_link
{
    margin-left: 5px;
}

#footer_wrap
{
    background-color: lightgreen;
    padding: 10px;
}

#footer_content
{
    width:51.25%;
	margin:0px auto;    
}

.flattr_wrapper
{
    float: right;
}